@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto&display=swap');

:root {
    --primary-color: #181b71;
    --secondary-color: #adb0bc;
    --accent1-color: #181b71;
    --accent2-color: #f2f3f4;

    --heading-font: 'caprasimo', serif;
    --paragraph-font: 'roboto', serif;

    --nav-background-color: #adb0bc;
    --nav-link-color: #104234;
    --nav-hover-link-color: #adb0bc;
    --nav-hover-background-color: #181b71;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}

body {
    font-family: var(--paragraph-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-color);
    background-color: #f2f3f4;
    /* max-width: 960px; */
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    background-color: #104234;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    border: 2px solid #181b71;
}
h2 {
    text-align: center;
}

p {
    padding: 25px;
    text-align: center;
}

.map {
    text-align: center;
}

#logo {
    padding: 30px;
}

nav {
    background-color: #adb0bc;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border: 2px solid #f2f3f4;
}

nav a {
    /* display: block; */
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
    margin-top: 1rem;
}

.hero article {
    position: absolute;
    bottom:140px;
    left: 5px;
    margin: 10px;
    border:2px solid #adb0bc;
    background-color: #181b71;
    color: #f2f3f4;
    opacity: .8;
}

article h2 {
    color: #f2f3f4;
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 250px;
    color: #f2f3f4;
    font-size: 50px;
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
    padding: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#history {
    background-color: #adb0bc;
    margin: 20px auto;
    border: 2px solid #181b71;

}

#history h2 {
    text-align: center;
}

.icons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}

.employees {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 20px;
}



#adventure {
    background-color: #adb0bc;
    border: 2px solid #181b71;
    padding: 20px;
    text-align: center;
}

#adventure h2 {
    text-align: center;
}

.sociallinks {
    text-decoration: none;
    justify-content: end;
    margin-top: 20px;
    border: 2px solid #181b71;
}

form {
    width: 650px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}



button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    background-color: #104234;
}
