@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto&display=swap');
:root {
    --primary-color: #181b71;
    --secondary-color: #adb0bc;
    --accent1-color: #181b71;
    --accent2-color: #f2f3f4;

    --heading-font: 'caprasimo', serif;
    --paragraph-font: 'roboto', serif;

    --nav-background-color: #adb0bc;
    --nav-link-color: #104234;
    --nav-hover-link-color: #adb0bc;
    --nav-hover-background-color: #181b71;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
